body {
    font-size: 24px;
    color: rgb(46, 190, 46);
    background-color: #000000;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
p {
    color: rgb(196, 195, 250);
}
img{
    width: 250px;
}