body {
    font-size: 24px;
    color: rgb(46, 190, 46);
    background-color: #ddbf16;
}
h1 {
    color: rgb(250, 0, 0);
    text-align: center;
}
p {
    color: rgb(4, 0, 255);
}
img{
    width: 250px;
}